.env
.pip-packages/
images/
notebooks/*results_cache/
notebooks/*tradeoff_reports/

# mypy
.mypy_cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Generic
*~

